* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.index {
  background-image: url("./assets/background.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
