html {
  scroll-behavior: smooth;
}

#Aboutus {
  background-color: rgb(235, 235, 235);
}

#testsection {
  height: 100vh;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.index {
  height: 10vw;
  font-family: "Righteous", cursive;
}

.text-h1 {
  font-size: 120px;
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 4px 10px rgb(31, 31, 31);
}

@media (min-width: 150px) {
  .text-h1 {
    font-size: 1rem;
  }
}
@media (min-width: 300px) {
  .text-h1 {
    font-size: 1.9rem;
  }
}

@media (min-width: 600px) {
  .text-h1 {
    font-size: 3rem;
  }
}
@media (min-width: 900px) {
  .text-h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .text-h1 {
    font-size: 6rem;
  }
}
