.aboutus__main-container {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  font-family: "Righteous", cursive;

  height: 100%;
  max-height: 125;
  align-items: center;
  margin-bottom: 15vh;
}

header h1 {
  margin-top: 15vh;
  font-size: 66px;
}

.information p {
  font-size: 22px;
  margin-bottom: 10vh;
  margin-right: 5vh;
  margin-left: 5vh;
}
.highschool-images {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.right {
  grid-area: a;
}
.left {
  grid-area: b;
}

.right img,
.left img {
  width: 500px;
  height: 300px;
  padding: 1rem;
  max-width: 100%;
  border-radius: 24px;
}

@media screen and (max-width: 970px) {
  header h1 {
    margin-top: 5vh;
    font-size: 66px;
  }
  .right img,
  .left img {
    width: 450px;
    height: 300px;
    padding: 1rem;
    max-width: 100%;
    border-radius: 24px;
  }
}
